@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

li a{
    font-size: 40px;
    justify-content: center;
    display: block;
    z-index: 1;
    height: inherit;
    line-height: 10px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 25px;
    margin-bottom: 0;
    font-family: 'ZCOOL KuaiLe', cursive;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-width: 1px;
    color:black;
    background-color: rgb(212, 198, 219);
}

strong{
    font-size: 40px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: rgb(61, 2, 88);
    transition: all 0.3 ease 0s;
}

strong:hover{
    color:#0088a9;
}

.logo{
    cursor:pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 20px, 50px;
    margin-top: 30px;
    margin-right: 30px;
}

.nav__links li a{
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover{
    color:#0088a9;
}