{% extends "blogs/base.html" %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <div class="top">
                <div class="logo">
                    <img src="/static/imgs/login.png" alt="#" style="width: 75px;">
                </div>
                <div class="form">
                    <form method="post" action="{% url 'accounts:register' %}">
                    {% csrf_token %}
                    <div class="input_field">
                        <input type="text" name="username" placeholder="账号" required>
                    </div>
                    <div class="input_field">
                        <input type="text" name="nickname" placeholder="昵称" required>
                    </div>
                    <div class="input_field">
                        <input type="text" name="building_no" placeholder="楼号" required>
                    </div>
                    <div class="input_field">
                        <input type="text" name="room_no" placeholder="寝室号" required>
                    </div>
                    <div class="input_field">
                        <input type="text" name="contact" placeholder="联系方式(如微信号，楼群备注名等)" required>
                    </div>
                    <div class="input_field">
                        <input type="password" name="password1" placeholder="密码" required>
                    </div>
                    <div class="input_field">
                        <input type="password" name="password2" placeholder="确认密码" required>
                    </div>
                    {% if error_msg %}
                    <p class="warning">{{ error_msg }}</p>
                    {% endif %}
                    <input type="submit" value="注册" class="button">
                    <input type="hidden" name="next" value="{% url 'blogs:home' %}"/>
                    </form>
                </div>
            <div class="apps">
                <div class="icons">
                    {% comment %} <a href="#"><img src="appstore.png" alt="appstore"></a> {% endcomment %}
                    {% comment %} <a href="#"><img src="googleplay.png" alt="googleplay"></a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
