{% extends "blogs/base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold" style="font-family: 'ZCOOL KuaiLe', cursive;">关于我们</h1>
      <img src="../static/imgs/about.jpeg" class="rounded float-right">
      <p class="fs-4" style="font-size:25px; font-family: 'Ma Shan Zheng', cursive;">为便于大家疫情期间宿舍楼内的资源交换,我们设计了这款网站</p>
      <p class="fs-4" style="font-size:25px; font-family: 'Ma Shan Zheng', cursive;">便利大家是我们的初衷</p>
      <p class="fs-4" style="font-size:25px; font-family: 'Ma Shan Zheng', cursive;">更多问题和建议请联系“20307130250@fudan.edu.cn”</p>
    </div>
</div>


{% endblock content %}