{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Minimarket</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/login2.css">
</head>

<body>
        <nav class="navbar navbar-expand-md navbar-light ml-auto border" style="background-color: rgb(212, 198, 219);">
            <ul class="nav__links mr-auto">
                <li class="logo">
                    <a href="{% url 'blogs:home' %}" style="font-size:10px; text-decoration: none; color: black;font-family: 'ZCOOL KuaiLe', cursive;" ><strong>Minimarket</strong>|FDu</a>
                </li>
            </ul>           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="width:10px;"></span></button>
                
            <div class="collapse navbar-collapse" style="color: #86A4BE;" id="navbarCollapse">
            <ul class="nav__links ml-auto">
                <li>
                    <a href="{% url 'blogs:all_record' %}" style="text-decoration: none;">交易区</a>
                </li>
            {% if user.is_authenticated %}
                <li class="logo">
                    <a href="{% url 'accounts:userinfo' %}" style="text-decoration: none;">你好，{{ user.nickname }}.</a>
                </li>
                <li>
                    <a href="{% url 'accounts:logout' %}" style="text-decoration: none;">注销</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'accounts:login' %}" style="text-decoration: none;">登录</a>
                </li>
                <li>
                    <a href="{% url 'accounts:register' %}" style="text-decoration: none;">注册</a>
                </li>
            {% endif %}
            </ul>
            </div>
        </nav>
    
{% block content %}
{% endblock content %}

    <div class="wrapper">
        <div class="footer">
            <div class="links">
                <ul>
                    <li><a href="#">ABOUT US</a></li>
                </ul>
            </div>
            <div class="copyright">
                © 2022
            </div>
        </div>
    </div>

</body>


