{% extends 'blogs/base.html' %}

{% block content %}

<div class="card text-center">
    <div class="card-header">
        <h4 class="card-title">需求详情</h4>
    </div>
    <div class="card-body">
        {% if record.is_want == True %}
        <div class="container">
            <table class="table text-center">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="font-weight-bold">求购</span></td>
                        <td>{{ record.want }}</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">提供</span></td>
                        <td>{{ record.offer }}</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">备注</span></td>
                        <td>{{ record.note }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="container">
            <table class="table text-center">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="font-weight-bold">出售</span></td>
                        <td>{{ record.offer }}</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">想要</span></td>
                        <td>{{ record.want }}</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">备注</span></td>
                        <td>{{ record.note }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="card-footer">
        <div class="container" style="text-align:right;width:70%">
            <p class="lead">此项需求由用户{{ user }}创建</p>
            <p class="font-weight-bold text-primary">联系方式：{{ user.contact }}</p>
        </div>
        <div class="container" style="width: 70%">
            <div class="row">
                <div class="col"><a href="{% url 'blogs:all_record' %}" class="btn btn-outline-warning btn-block btn-lg">返回</a></div>
                <div class="col">
                    {% if interested == False %}
                    <form action="{% url 'blogs:detail' record_id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <input type="hidden" name="record_id" value="{{ record_id }}">
                        <button class="btn btn-outline-success btn-lg btn-block" type="submit">感兴趣</button>
                    </form>
                    {% else %}
                    <button class="btn btn-success btn-lg btn-block" disabled>已感兴趣</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}