{% extends "blogs/base.html" %}
{% block content %}
<div id="demo" class="carousel slide" data-ride="carousel">
 
    <!-- 指示符 -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
    </ul>
   
    <!-- 轮播图片 -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/imgs/home1.jpg" class="rounded mx-auto d-block" height = "400">
      </div>
      <div class="carousel-item">
        <img src="../static/imgs/home2.jpg" class="mx-auto d-block" height = "400">
      </div>
      <div class="carousel-item">
        <img src="../static/imgs/home3.jpg" class="mx-auto d-block" height = "400">
      </div>
      <div class="carousel-item">
        <img src="../static/imgs/home4.jpg" class="mx-auto d-block" height = "400">
      </div>
      <div class="carousel-item">
        <img src="../static/imgs/home5.jpg" class="mx-auto d-block" height = "400">
      </div>
    </div>
   
    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
   
</div>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5"> 
      <h1 class="text-center" style="font-family: 'ZCOOL KuaiLe', cursive;">Welcome to EMiniMarket!</h1>
      <p class="text-center">在这里，我们自由交换</p>
      <p class="text-center">总有一款适合你</p>
      <button class="btn btn-dark btn-lg" type="button">我想要</button>
      <button class="btn btn-dark btn-lg" type="button">我能出</button>
    </div>
</div>
<div>

</div> 

{% endblock content %}