{% extends "blogs/base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold" style="font-family: 'ZCOOL KuaiLe', cursive;">Welcome to EMiniMarket!</h1>
      <p class="col-md-8 fs-4">在这里，我们自由交换</p>
      <p class="col-md-8 fs-4">总有一款适合你</p>
      <a class="btn btn-dark btn-lg" type="button" href="{% url 'blogs:new_want' %}">我想要</a>
      <a class="btn btn-dark btn-lg" type="button" href="{% url 'blogs:new_offer' %}">我能出</a>
    </div>
</div>


{% endblock content %}